<p-button label="Dropdown Menu"></p-button>
<div class="dropdown-menu">
    <div class="dropdown-menu__item" appMouseover>Item 1</div>
    <div class="dropdown-menu__item" appMouseover>Item 2</div>
    <div class="dropdown-menu__item" appMouseover>Item 3</div>
</div>

Step1: make button 
step2: make list
    list of divs
    main div shouldn't be too big, set max width so it doesn't get too big/small
    give classes for styling
    mouse over action
Could there be something where if a menu item is selected you have it highlighted
Directive so