<div class="idea-component">
    <div class="idea-component__form">
        <form [formGroup]="ideaForm">
            <input formControlName="idea" pInputText placeholder="Enter Idea"/>
            <div class="subPoint" formArrayName="subPoints"
            *ngFor="let idea of ideaForm.get('subPoints')?.controls; let i = index;">
                <div [formGroupName]="i">
                    <input formControlName="subPoint" placeholder="Enter Point">
                </div>
                <p-button (click)="removeIdea(i)" class="ui-button-warning" label="Remove Idea"></p-button>
            </div>
            <app-button [isDisabled]="false" (buttonClick)="saveIdea" [display]="'Add'"></app-button>
            <p-button (click)="addIdea()" label="Add"></p-button>
        </form>
        <p-button (click)="saveIdea()" [disabled]="!ideaForm.valid" label="Save Idea"></p-button>
    </div>
    <div class="idea-component__list">
        <ul>
            <li *ngFor="let idea of ideasList">{{idea.idea}}
                <div *ngIf="idea.subPoints.length > 0">
                    <ul *ngFor="let point of idea.subPoints">
                        <li>{{point.subPoint}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
<ul>
    <li>local reference &#123; ... &#125; </li>
    <li>The same change (add {{ '{' }} static: true {{ '}' }} as a second argument) needs to be applied to ALL usages of @ViewChild()
         (and also @ContentChild() which you'll learn about later) IF you plan on accessing the selected element inside of ngOnInit().
            If you DON'T access the selected element in ngOnInit (but anywhere else in your component), set static: false instead!
            If you're using Angular 9, you only need to add {{ '{' }} static: true {{ '}' }} (if needed) but not {{ '{' }} static: false {{ '}' }}.</li>
</ul>
</div>
