<ul>
    <li>make this list be created dynamically
        <ul>
            <li>could this be done with recursion or just nested for's.</li>
        </ul>
    </li>
    <li>es6 things and javascript basics</li>
    <li>restaurant menu maker
        <ul>
            <li>item interface</li>
            <li>add items to the menu. Form on one side and list of menu items on the other.</li>
            <li>breakdown of item graphs. percentage of meat, veggie, etc items.</li>
            <ul>
                <li>dynamic graphs? One bar and one pie chart that can just take in a list of stuff (may already exist in primeng)</li>
            </ul>
        </ul>
    </li>
    <li>study cards
        <ul>
            <li>would need a Card interface</li>
            <li>fill out cards</li>
            <li>pick a random amount</li>
            <li>two piles guessed right and not guessed right.</li>
            <li>cards could be in sets? (maybe a later addition)</li>
        </ul>
    </li>
    <li>corona virus dashboard
        <ul>
            <li>widget thing that tyler did</li>
            <li>this would be good to make an interface for each widget. assumed methods they'd have.</li>
            <li>responsive</li>
            <li>charts that expand?</li>
        </ul>
    </li>
    <li>linter stuff</li>
    <li>angular9</li>
    <li>drag and drop page</li>
    <ul>
        <li>this would need to be saved</li>
    </ul>
    <li>play with events or event binding</li>
    <li>how about a cool table</li>
    <li>error handling service
        <ul>
            <li>add toast messages</li>
        </ul>
    </li>
    <li>NGRX looksie</li>
    <li>google maps project</li>
    <li>angular elements (micro front ends)</li>
    <li>angular lifestyle</li>
    <li>explain the renderer</li>
    <li>RXJS
        <ul>
            <li>explain what an observable is</li>
            <li>subjects behavior subjects</li>
            <li>understand how to use piping</li>
        </ul>
    </li>
    <li>expand on the pokemon list</li>
    <li>explain dependency injection</li>
    <li>routing
        <ul>
            <li>query parameter stuff</li>
            <li>can activate</li>
        </ul>
    </li>
    <li>create some shared components. look at expo-shared</li>
    <li>AOT</li>
    <li>deploying stuff?</li>
</ul>