<p-table [value]="pokemon">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of headers" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-pokemon>
        <tr>
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.name}}</td>
            <td><img src="{{pokemon.sprites.front_default}}"></td>
        </tr>
    </ng-template>
</p-table>